@import "tailwindcss";


body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Títulos grandes */
h1, h2 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

/* Texto de navegación */
nav a {
  font-weight: 500;
}

/* Texto normal */
p, footer {
  font-weight: 300;
}